<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/{{name}}-{{cacheBuster}}.min.css">
        <link rel="author" href="humans.txt" />
    </head>
    <body>

        <div class="container">
            {{> body }}
        </div>

        <script src="js/{{name}}-{{cacheBuster}}.min.js"></script>

    </body>
</html>
